{% extends 'base.html' %}{% load static %}

{% block content %}
    <style>
    .img1{
        width: 45%;
    }
    </style>
    <div id="wrapper" class="admin-panel">


    <div class="page-content">
     <form name="careeredit" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="{% url 'index' %}"> <i class="uil-home-alt"></i> Dashboard</a></li>
                            <li><a href="#">  </a></li>
                        </ul>
                    </nav>
                </div>

                <div class="uk-grid">


                  <div class="uk-width-3-5@m" style="width: 55%">



                    <div class="uk-width-expand my-5">
                        <div class="card rounded">
                          <div class=" container py-3 px-5 uk-width-expand">

                                <fieldset class="uk-fieldset">

                                    <legend class="uk-legend mt-4 text-center">Change Category Name</legend>


                                    <div class="uk-margin">
                                        <input class="uk-input bg-secondary" name="category_name" type="text" value="{{datas.cate_name}}" required>
                                    </div>



                                    <div class="text-center mt-3">
                                      <a href="{% url 'index' %}" class="btn btn-default px-4">Back</a>
                                      <button class="btn btn-default px-4 " name="category_submit">Edit & Save</button>

                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                  </div>


                 <div class="uk-width-4-4@m my-3 img1">
                        <div class="card rounded">
                          <div class=" py-2 px-4">
                              <h4 class="mb-0">Category Image </h4>

                          </div>
                          <hr class="m-0">
                          <div class=" container py-3 uk-width-expand">
                              {% csrf_token %}
                                <fieldset class="uk-fieldset">

                                 {% if datas.cate_image %}
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">Category Image</label>
                                            <div class="col-md-9">

                                              <div class=" ">
                                                <img src="{{datas.cate_image.url}}" alt="No image">
                                              </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">Change Image</label>
                                            <div class="col-md-9">
                                                <input type="file" id="real-file" name="pro_image"
                                                hidden="hidden"/>
                                                <a class="btn btn-default mb-3"  onclick="" id="Upload-button"> <i
                                                    class='uil-plus'>

                                                </i>Upload</a>
                                                <span id="custom-text">No file choosen</span>
                                                <input type="hidden" value="{{ datas.pk }}" name="idd">
                                                <button class="btn btn-default " name="change_img">Save</button>

                                            </div>
                                        </div>
                                 {% else %}
                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label" for="short_description">Product Image</label>
                                            <div class="col-md-9">
                                                <input type="file" id="real-file" name="pro_image"
                                                hidden="hidden"/>
                                                <a class="btn btn-default mb-3"  onclick="" id="Upload-button"> <i
                                                    class='uil-plus'>

                                                </i>Upload</a>
                                                <span id="custom-text">No file choosen</span>



                                            </div>
                                        </div>
                                        {% endif %}
                                 <script type="text/javascript">
                                                const realFileBtn = document.getElementById("real-file");
                                                const CustomBtn = document.getElementById("Upload-button");
                                                const customTxt = document.getElementById("custom-text");
                                                CustomBtn.addEventListener ("click", function() {
                                                realFileBtn.click()

                                                });

                                                realFileBtn.addEventListener("change", function() {
                                              if (realFileBtn.value) {
                                                customTxt.innerHTML = realFileBtn.value.match(
                                                  /[\/\\]([\w\d\s\.\-\(\)]+)$/
                                                )[1];
                                              } else {
                                                customTxt.innerHTML = "No file chosen, yet.";
                                              }
                                            });

                                                </script>
                                </fieldset>
                            </div>
                        </div>
                    </div>



                </div>












            </div>
    </form>

        </div>

        <!-- For Night mode -->
        <script>


            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);


              // Random Password Generator

            var keylist="abcdefghijklmnopqrstuvwxyz123456789"
            var temp=''

            function generatepass(plength){
            temp=''
            for (i=0;i<plength;i++)
            temp+=keylist.charAt(Math.floor(Math.random()*keylist.length))
            return temp
            }

            function populateform(enterlength){
            document.pgenerate.password.value=generatepass(enterlength)
            }



            // Skill Addition

          // now, add a new to the TABLE.
          function addSkillRow() {
              var empTab = document.getElementById('SkillsTable');

              var rowCnt = empTab.rows.length;   // table row count.
              var tr = empTab.insertRow(rowCnt); // the table row.
              tr = empTab.insertRow(rowCnt);

              for (var c = 0; c < 1; c++) {
                  var td = document.createElement('td'); // table definition.
                  td = tr.insertCell(c);
                      var ele = document.createElement('input');
                      ele.setAttribute('type', 'text');
                      ele.setAttribute('placeholder', 'Add Skills');
                      td.appendChild(ele);

              }
          }


          // function to extract and submit table data.
          function Skillsubmit() {
              var myTab = document.getElementById('SkillsTable');
              var arrValues =new Array()

              // loop through each row of the table.
              for (row = 0; row < myTab.rows.length ; row++) {
                // loop through each cell in a row.
                  for (c = 0; c < myTab.rows[row].cells.length; c++) {
                      var element = myTab.rows.item(row).cells[c];
                      if (element.childNodes[0].getAttribute('type') == 'text') {
                          arrValues.push(element.childNodes[0].value);
                      }
                  }
              }

              var str="";
              for(i=0;i<arrValues.length;i++)
              {
                str=str.concat(arrValues[i])
                str=str+'_';
              }

              req_str=str.substring(0,str.length-1)

              // The final output.
              // document.getElementById('Reqoutput').innerHTML = req_str;

              var ele1=document.getElementById('sout');
              ele1.setAttribute('value',req_str);
          }
        </script>


    </div>
{% endblock %}
